@(content: Html)

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8"/>
        <link rel="stylesheet" href="/stylesheets/bootstrap.min.css"/>
        <link rel="stylesheet" href="/stylesheets/bootflat.min.css"/>
        <link rel="stylesheet" href="/stylesheets/isucon-bank.css"/>
        <title>isucon4</title>
    </head>
    <body>
        <div class="container">
            <h1 id="topbar">
                <a href="/"><img src="/images/isucon-bank.png" alt="いすこん銀行 オンラインバンキングサービス"/></a>
            </h1>
            @content
        </div>

    </body>
</html>
